In [37]:
import pandas as pd

# Lauren STAT data generation

## Deleting samples and adding case and control

In [38]:
import pandas as pd

df = pd.read_csv("Z_100_Lauren.csv")

sample_ids = [
    "Sample_7450", "Sample_6993", "Sample_2239", "Sample_1131", "Sample_968", "Sample_9489",
    "Sample_9375", "Sample_1499", "Sample_9450", "Sample_8675", "Sample_5529", "Sample_2291",
    "Sample_495", "Sample_6065", "Sample_3882", "Sample_8178", "Sample_813", "Sample_180",
    "Sample_1281", "Sample_682", "Sample_7232", "Sample_2350", "Sample_3642", "Sample_9568",
    "Sample_1678", "Sample_1537", "Sample_7610", "Sample_9749", "Sample_1165", "Sample_3834",
    "Sample_5263", "Sample_9133", "Sample_3034", "Sample_779", "Sample_7955", "Sample_5487",
    "Sample_7510", "Sample_4587", "Sample_17", "Sample_8060", "Sample_8874", "Sample_2648",
    "Sample_2075", "Sample_5868", "Sample_2402", "Sample_2996", "Sample_8561", "Sample_6589",
    "Sample_210", "Sample_5302", "Sample_3543", "Sample_1139", "Sample_2279", "Sample_5185",
    "Sample_9457", "Sample_6889", "Sample_7393", "Sample_8184", "Sample_3625", "Sample_842",
    "Sample_6035", "Sample_262", "Sample_200", "Sample_3689", "Sample_6721", "Sample_3611",
    "Sample_2633", "Sample_7568", "Sample_14", "Sample_3324"
]


filtered_df = df[df['Unnamed: 0'].isin(sample_ids)]

num_rows = len(filtered_df)

filtered_df['CC'] = ['case'] * (num_rows // 2) + ['control'] * (num_rows - num_rows // 2)

filtered_df

/var/folders/g4/ysfgx68s4mjfkjy9mfw343100000gn/T/ipykernel_42358/2755245792.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['CC'] = ['case'] * (num_rows // 2) + ['control'] * (num_rows - num_rows // 2)

,Unnamed: 0,rs12900938,rs12905389,rs6599770,rs7170864,rs12440100,rs12906138,rs7179358,rs4932079,rs4932078,...,rs4462663,rs7402159,rs9330233,rs35617960,rs8040193,rs7165745,rs7174633,rs4433784,rs8034562,CC
0,Sample_8184,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,case
1,Sample_3543,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,case
2,Sample_8060,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,case
4,Sample_14,0,0,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,case
5,Sample_2633,0,0,0,2,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Sample_7610,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,control
95,Sample_6589,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,control
96,Sample_3882,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,control
97,Sample_1499,0,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,control
98,Sample_9133,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,control

## Generating new stats file

In [39]:

import pandas as pd

filtered_df = filtered_df.drop(columns=['Unnamed: 0'])

case_df = filtered_df[filtered_df['CC'] == 'case']
control_df = filtered_df[filtered_df['CC'] == 'control']

case_df = case_df.drop(columns=['CC'])
control_df = control_df.drop(columns=['CC'])

result = []

for snp in case_df.columns:
    case_counts = case_df[snp].value_counts()
    control_counts = control_df[snp].value_counts()
    
    case_counts_0 = case_counts.get(0, 0)
    case_counts_1 = case_counts.get(1, 0)
    case_counts_2 = case_counts.get(2, 0)
    
    control_counts_0 = control_counts.get(0, 0)
    control_counts_1 = control_counts.get(1, 0)
    control_counts_2 = control_counts.get(2, 0)
    
    result.append([snp, case_counts_0, case_counts_1, case_counts_2, control_counts_0, control_counts_1, control_counts_2])

stat_df = pd.DataFrame(result, columns=['SNP_ID', 'Case_0', 'Case_1', 'Case_2', 'Control_0', 'Control_1', 'Control_2'])

stat_df

        SNP_ID  Case_0  Case_1  Case_2  Control_0  Control_1  Control_2
0   rs12900938      35       0       0         34          1          0
1   rs12905389      33       1       1         34          1          0
2    rs6599770      26       7       2         28          5          2
3    rs7170864      21      10       4         25          9          1
4   rs12440100      25       8       2         29          6          0
5   rs12906138      15      11       9         16         13          6
6    rs7179358      12      18       5         10         19          6
7    rs4932079      26       6       3         27          6          2
8    rs4932078      35       0       0         35          0          0
9    rs4932072      30       3       2         26          9          0
10   rs4984134      32       3       0         31          4          0
11   rs3848222      33       2       0         31          4          0
12   rs2665033      35       0       0         34          1          0
13   rs1303908      32       3       0         33          2          0
14   rs3929082      34       1       0         31          4          0
15   rs7167893      33       2       0         34          1          0
16   rs4462663      31       4       0         29          6          0
17   rs7402159      31       4       0         33          2          0
18   rs9330233      34       1       0         34          1          0
19  rs35617960      27       6       2         32          1          2
20   rs8040193      33       2       0         33          2          0
21   rs7165745      31       4       0         32          3          0
22   rs7174633      30       3       2         32          3          0
23   rs4433784      30       4       1         32          3          0
24   rs8034562      33       2       0         33          2          0

In [40]:
# Export stat_df to a CSV file
# stat_df.to_csv('stat_df.csv', index=False)

# Mike

## Delete Samples and Add Case and Control

In [41]:
import pandas as pd

df = pd.read_csv("Z_100_Mike.csv")

sample_ids = [
    "Sample_1588", "Sample_7098", "Sample_4814", "Sample_363", "Sample_7549", 
    "Sample_4056", "Sample_4632", "Sample_2202", "Sample_6381", "Sample_4181", 
    "Sample_7214", "Sample_6356", "Sample_352", "Sample_4349", "Sample_3913", 
    "Sample_589", "Sample_2645", "Sample_3569", "Sample_952", "Sample_1600", 
    "Sample_5397", "Sample_4671", "Sample_9869", "Sample_440", "Sample_2507", 
    "Sample_9276", "Sample_7047", "Sample_1503", "Sample_2293", "Sample_64", 
    "Sample_6851", "Sample_2725", "Sample_693", "Sample_2385", "Sample_2568", 
    "Sample_3964", "Sample_6617", "Sample_2024", "Sample_3468", "Sample_323", 
    "Sample_3934", "Sample_5917", "Sample_6965", "Sample_1312", "Sample_8951", 
    "Sample_5833", "Sample_8563", "Sample_1221", "Sample_22", "Sample_1531", 
    "Sample_2056", "Sample_8336", "Sample_8100", "Sample_3394", "Sample_4356", 
    "Sample_798", "Sample_4621", "Sample_6734", "Sample_118", "Sample_7195", 
    "Sample_6928", "Sample_949", "Sample_9232", "Sample_9185", "Sample_3399", 
    "Sample_2217", "Sample_5233"
]


filtered_df = df[df['Unnamed: 0'].isin(sample_ids)]

num_rows = len(filtered_df)

filtered_df['CC'] = ['case'] * (num_rows // 2) + ['control'] * (num_rows - num_rows // 2)

filtered_df

/var/folders/g4/ysfgx68s4mjfkjy9mfw343100000gn/T/ipykernel_42358/608454656.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['CC'] = ['case'] * (num_rows // 2) + ['control'] * (num_rows - num_rows // 2)

,Unnamed: 0,rs12900938,rs12905389,rs6599770,rs7170864,rs12440100,rs12906138,rs7179358,rs4932079,rs4932078,...,rs4462663,rs7402159,rs9330233,rs35617960,rs8040193,rs7165745,rs7174633,rs4433784,rs8034562,CC
5,Sample_1531,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,case
7,Sample_2725,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,case
8,Sample_949,0,0,0,2,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,case
9,Sample_2293,0,0,0,1,0,1,0,0,0,...,0,0,0,1,0,1,1,1,1,case
10,Sample_3569,0,0,0,1,1,2,0,0,0,...,1,0,0,0,0,0,0,0,0,case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Sample_118,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,control
94,Sample_3468,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,control
96,Sample_6356,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,control
97,Sample_4056,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,control
98,Sample_9232,0,1,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,control

## Making new Stats File

In [42]:

filtered_df = filtered_df.drop(columns=['Unnamed: 0'])

case_df = filtered_df[filtered_df['CC'] == 'case']
control_df = filtered_df[filtered_df['CC'] == 'control']

case_df = case_df.drop(columns=['CC'])
control_df = control_df.drop(columns=['CC'])

result = []

for snp in case_df.columns:
    case_counts = case_df[snp].value_counts()
    control_counts = control_df[snp].value_counts()
    
    case_counts_0 = case_counts.get(0, 0)
    case_counts_1 = case_counts.get(1, 0)
    case_counts_2 = case_counts.get(2, 0)
    
    control_counts_0 = control_counts.get(0, 0)
    control_counts_1 = control_counts.get(1, 0)
    control_counts_2 = control_counts.get(2, 0)
    
    result.append([snp, case_counts_0, case_counts_1, case_counts_2, control_counts_0, control_counts_1, control_counts_2])

stat_df = pd.DataFrame(result, columns=['SNP_ID', 'Case_0', 'Case_1', 'Case_2', 'Control_0', 'Control_1', 'Control_2'])

stat_df

        SNP_ID  Case_0  Case_1  Case_2  Control_0  Control_1  Control_2
0   rs12900938      33       0       0         33          0          1
1   rs12905389      28       3       2         29          2          3
2    rs6599770      26       3       4         27          4          3
3    rs7170864      21      10       2         22          9          3
4   rs12440100      26       7       0         25          6          3
5   rs12906138      17      10       6         13         14          7
6    rs7179358      12      13       8         14         16          4
7    rs4932079      23       5       5         25          5          4
8    rs4932078      30       0       3         31          1          2
9    rs4932072      28       4       1         29          3          2
10   rs4984134      27       6       0         31          3          0
11   rs3848222      30       3       0         31          3          0
12   rs2665033      31       2       0         34          0          0
13   rs1303908      31       2       0         34          0          0
14   rs3929082      31       2       0         33          0          1
15   rs7167893      28       5       0         33          1          0
16   rs4462663      29       4       0         30          4          0
17   rs7402159      31       2       0         30          4          0
18   rs9330233      33       0       0         33          1          0
19  rs35617960      30       3       0         31          3          0
20   rs8040193      31       2       0         33          1          0
21   rs7165745      27       6       0         29          5          0
22   rs7174633      27       6       0         29          5          0
23   rs4433784      27       6       0         28          5          1
24   rs8034562      30       3       0         32          2          0

In [43]:
## stat_df.to_csv('stat_df.csv', index=False)